*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
:root{
--lightgrey: hsl(0, 0%, 95%);
--transparentwhite: hsla(0, 0%, 100%, 0.75);
--Brightorange: hsl(31, 77%, 52%);
--Darkcyan: hsl(184, 100%, 22%);
--Verydarkcyan: hsl(179, 100%, 13%);
}

body{
    background-color: var(--lightgrey);
    align-items: center;
    justify-content: center;
}

nav{
    background-color: black;
    color: orange;
    padding:1%;
}
nav a{
    border-right: 5px solid orange;
    padding-right: 10px;
    text-decoration: none;
    color: white;
}
.container1{
    width: 60%;
    min-width: 375px;
    max-width: 1440px;
    height: 100vh;
    padding-top: 8%;
    padding-bottom: 5%;
    display: flex;
    margin: auto;
    align-items: stretch;
    justify-content: center;
}


h1{
    font-family: 'Big Shoulders Display', cursive;
    padding-top: 10%;
    padding-bottom: 10%;
}

p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    white-space: normal;
    overflow: scroll;
    vertical-align: center;
    text-overflow: ellipsis;
    flex: 1;
    height: 50%;
}

::-webkit-scrollbar {
    display: none;
}

.firstcontainer{
    background-color: var(--Brightorange);
    flex:1;
    width: 100%;
    color: var(--transparentwhite);
    text-align: left;
    padding-top: 5%;
    padding-bottom: 6%;
    padding-left: 4%;
    padding-right: 4%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.secondcontainer{
    background-color: var(--Darkcyan);
    flex:1;
    width: 100%;
    color: var(--transparentwhite);
    text-align: left;
    padding-top: 5%;
    padding-bottom: 6%;
    padding-left: 4%;
    padding-right: 4%;
}

.thirdcontainer{
    background-color: var(--Verydarkcyan);
    flex:1;
    width: 100%;
    color: var(--transparentwhite);
    text-align: left;
    padding-top: 5%;
    padding-bottom: 6%;
    padding-left: 4%;
    padding-right: 4%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

button{
    margin-top: 10%;
    margin-bottom: 20%;
    flex:1;
    width:60%;
    padding: 3%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    background-color: white;
    border-radius: 20px;
    border-color: white;
}

.learnmore1{
    color: var(--Brightorange);
}

.learnmore2{
    color: var(--Darkcyan);
}

.learnmore3{
    color: var(--Verydarkcyan);
}

button:hover{
    background-color: transparent;
    border-color: white;
    color: var(--transparentwhite);
    cursor: pointer;
}

button:active{
    background-color: transparent;
    border-color: white;
    color: var(--transparentwhite);
}
